* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    background-color: #eaeded;
    width: 900px;
    height: 310px;
    position: relative;
}

.box {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 90%;
    position: absolute;
    border: 8px solid #ccc;
    margin: 8px;
    z-index: 1;
}

.row .box:nth-child(1) {
    background-image: url('img/watch.jpg');
    top: 0;
    left: 0;
}

.row .box:nth-child(2) {
    background-image: url('img/coffee.jpg');
    top: 0;
    left: 33%;
}

.row .box:nth-child(3) {
    background-image: url('img/coffee_maker.jpg');
    top: 0;
    left: 66%;
}

.sale {
    width: 25px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11px;
    z-index: 10;
}

.box:nth-child(even) .sale {
    background-color: red;
}

.box:nth-of-type(odd) .sale {
    background-color: green;
}

.box:hover .heart{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
}
