* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    background-color: #eaeded;
    width: 900px;
    height: 310px;
    position: relative;
}

.box {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 90%;
    position: absolute;
    border: 8px solid #ccc;
    margin: 8px;
}

.row .box:nth-child(1) {
    background-image: url('img/watch.jpg');
    top: 0;
    left: 0;
}

.row .box:nth-child(2) {
    background-image: url('img/coffee.jpg');
    top: 0;
    left: 33%;
}

.row .box:nth-child(3) {
    background-image: url('img/coffee_maker.jpg');
    top: 0;
    left: 66%;
}

.row .box:nth-child(4) {
    background-image: url('img/watch.jpg');
}

.row .box:nth-child(5) {
    background-image: url('img/coffee.jpg');
}

.row .box:nth-child(6) {
    background-image: url('img/coffee_maker.jpg');
}
